{% extends "::layout.html.twig" %}
	{% block title %}
		Gsb Méd - {{ parent() }}
	{% endblock %}
	{% block body %}
		{# On définit un sous - titre commun à toutes les pages du bundle #}
		<h1>Gsb Médicaments</h1>
		<hr>
		{# On défisnit un nouveau bloc, que les vues du bundle pourront remplir. Ce nouveau bloc
sera donc personnalisé par les templates finaux. On préfixe le nom du nouveau bloc afin
d'avoir un nom unique pour notre bundle #}
	{% block GsbMed_body %}
	{% endblock %}
{% endblock %}